<div class="navbar navbar-expand-lg navbar-dark bg-dark pt-0 pb-0">
  <div class="container">
      <a class="navbar-brand" routerLink="/info" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">遊戲官網</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="#">首頁</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">新聞</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">角色</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">更多</a>
              </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">關於我們</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">最新公告</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">聯絡我們</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">登入</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link download" href="#">下載遊戲</a>
              </li>
          </ul>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
